@{
    ViewData["Title"] = "Privacy Policy";
<form asp-action="Index">
    <label type="text" name="fullname" placeholder="Enter fullname"/>
    <label type="text" name="personID" placeholder="Enter ID"/>
    <input type="submit" value="Save"/>
    
</form>
<h1>@ViewBag.Nhapdulieu</h1>
}